body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

main {
	flex: 1 0 auto;
}

.qz-img-logo {
	height: 64px;
	width:64px;
}

.qz-space {
	padding: 20px 20px 0 20px;
}

.qz-no-margin {
	margin: 0 !important;
}

#qz-chart-abb-local,#qz-chart-nw-local,#qz-chart-snr-local {
	width: 100%;
	height: 200px;
}