body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

main {
	flex: 1 0 auto;
}

.qz-img-logo {
	height: 64px;
	width:64px;
}

.qz-space {
	padding: 10px 15px;
}

.qz-space-lr {
	padding: 0 1rem;
}

.qz-no-margin {
	margin: 0 !important;
}

.qz-chart-holder,.qz-chart-chscan-holder {
	width: 100%;
	height: 220px;
}

.qz-textarea {
	height: 200px !important;
}

.card .card-content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.qz-site {
	margin-right: 1.5em;
	cursor:pointer;
}

.qz-row {
	margin-bottom: 0;
}

.qz-card-reveal {
	padding-top: 15px !important;
}

/* to fix Flot + Materialize */
.legend * {
	margin:0;padding:0;
}
.legend table {
	width: auto;
}
.legendColorBox,.legendLabel {
	padding: 4px;
}
